<div class="form-div">
  <%= form_for(@student) do |f| %>
    <p>
    <%= f.label 'Student Name' %>
    </p>
    <p>
    <%= f.text_field :name, class: 'form-field', required: true %>
    </p>
    <br>
    <%= f.submit submit_name, class: 'form-submit text-field' %>
  <% end %>
</div>