<h1>Student Sign Up</h1>

<%= render partial: 'messenger' %>

<%= render partial: 'form', locals: {student: @student, submit_name: 'Register Student'} %>

<div id="#studentResult">
<ul>
  <% @students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>
</div>
