<h1>Instructors Index</h2>

<% @instructors.each do |instructor| %>
<ul>

    <li>Instructor Name: <%= instructor.name %></li>

    <li>FAA CFI Number: <%= instructor.cfi %></li>

    <li>Total Students Scheduled: <%= instructor.students_scheduled %></li>
    
    </ul>
    <% end %>
    