<h2>New Lesson</h2>

<% if flash[:alert] %>
  <div class='field_with_errors'><%= flash[:alert] %></div>
<% else %>
  <p class="important">Note: Select or Register new student for lesson</p>
<% end %>

<%= render partial: 'form', locals: {lesson: @lesson, submit_name: 'Create Lesson'} %>

<%= render partial: 'student', locals: {lesson: @lesson} %>
