<h1>Lesson Display</h1>

<p>
  Student:<br> <%= @lesson.student.name %>
</p>
<p>
  Instructor:<br> <%= @lesson.instructor.name %>
</p>
<p>
  Lesson Description:<br> <%= @lesson.description %>
</p>

<p>
  Debriefing: <%= @lesson.lesson_datetime %> 
</p>
