/* CSS for forms and partials */


form {
  position: relative;
  background-color: #3F8EDD;
  margin: 0 auto;
  padding: 2em 0 0 0;
  min-height: 300px;
}

label {
  color: whitesmoke;
  text-transform: capitalize;
  font-weight: bold;
}

.form-field {
  width: 80%;
  max-width: 400px;
  display: block;
  border: 0;
  border-left: 3px solid teal;
  border: 3px solid #cef;
  background-color: #6eb0f4;
  margin: 1em auto;
  padding: 1em 0.5em;
  text-align: center;
  color: white;
  font-weight: bold;
}

input:focus {
  background-color: #69e;
}

.form-submit {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  background-color:teal;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 0 auto;
  padding: 0.5em 0.5em;
  width: 100%;
}
.form-submit:hover {
  background-color: green;
  border: 1px solid white;
}

.form-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}
