/* CSS for layout and main views  */
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #00689E;
  color: white;
}

a,a:visited {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 1em;
  margin: 0;
  color: white;
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #037;
}
nav ul li a::before, nav ul li a::after {
  content: "> ";
  color: #00689E;
}
nav ul li a:hover::before {
  content: "> ";
  color: white;
}
nav ul li a:hover::after {
  color: #0AE;
}

.wrapper {
  margin: 0 auto;
  /* padding-top: 1em; */
  max-width: 960px;
  text-align: center;
  background-color: #00689E;
}

h1, h2, h3 {
  text-transform: capitalize;
  background-color: white;
  margin: 0 auto;
  padding: 1em 0;
  color: #0066B4;
}

