/* css pertaining to media queries */

@media only screen and (max-width : 600px) {    
  nav ul li {
    display: block;
  }

  nav ul li a {
    display: block;
    border-bottom: 1px solid white;
  }
}